body {
    background-color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-transform: uppercase;
    h1{
        text-align: center;
    }
}
.body {
    font-size: large;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .aprovado {
    color: green;
    font-weight: bold;
  }
  
  .reprovado {
    color: red;
    font-weight: bold;
  }
  